@media (max-width: 1275px) {
  /* General */
  h1 {
    font-size: 52px;
  }

  .pricing .text h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  .thirty-six {
    font-size: 28px;
  }

  .signup form input[type='submit'], .signup-two .content-area form input[type='submit'] {
    font-size: 24px;
  }

  .pricing .text .pricing-button {
    font-size: 24px;
  }

  p {
    font-size: 22px;
  }

  input {
    font-size: 22px;
  }

  .features .feature-block .text .features-button {
    font-size: 22px;
  }

  p.subheader {
    font-size: 24px;
  }

  p.subheader-two {
    font-size: 20px;
  }

  .nav a, .nav button {
    font-size: 14px;
  }

  /* Nav Bar */
  .nav {
    padding: 20px 30px;
  }

  .nav a {
    margin: 0 15px;
  }

  /* Hero */
  .hero {
    height: 500px;
  }

  .hero .text {
    width: 60%;
  }

  /* Top Line */
  .topline {
    padding: 30px 90px 60px 90px;
  }

  .topline .item .icon-wrapper {
    height: 180px;
  }

  .topline .item .icon {
    max-width: 100%;
  }

  /* The Problem */
  .problem .text ul {
    width: 75%;
  }

  /* Features */
  /* Video */
  .vid-wrapper {
    width: 80%;
  }

  .features {
    padding: 70px 7%;
  }

  .features .feature-block:after {
    width: 24%;
    left: 38%;
  }

  .features .feature-block:nth-of-type(even) .text {
    margin-left: 6%;
  }

  .features .feature-block:nth-of-type(odd) .text {
    margin-right: 6%;
  }

  .features .feature-block img {
    width: 60%;
  }

  .features .feature-block .text {
    width: 30%;
  }

  .features .feature-block .text h3 {
    margin-bottom: 10px;
  }

  .features .feature-block .text .features-button {
    margin-top: 10px;
  }

  /* Benefits */
  .benefits {
    padding: 70px 6%;
  }

  .benefits .content-area .benefit-block {
    width: 27%;
  }

  /* Pricing */
  .pricing {
    padding: 90px 0;
  }

  .pricing .text {
    width: 70%;
  }

  /* Second Signup */
  .signup-two {
    background-color: #0070BC;
    padding: 70px 6%;
  }

  .signup-two .content-area {
    max-width: 60%;
  }
}

@media (max-width: 1000px) {
  /* General */
  h1 {
    font-size: 50px;
  }

  .pricing .text h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 20px;
  }

  .thirty-six {
    font-size: 26px;
  }

  .signup form input[type='submit'], .signup-two .content-area form input[type='submit'] {
    font-size: 22px;
  }

  .pricing .text .pricing-button {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }

  input {
    font-size: 20px;
  }

  .features .feature-block .text .features-button {
    font-size: 18px;
  }

  p.subheader {
    font-size: 22px;
  }

  p.subheader-two {
    font-size: 20px;
  }

  .nav a, .nav button {
    font-size: 12px;
  }

  /* Hero */
  .hero .text {
    width: 80%;
  }

  /* Signup */
  .signup form {
    margin-top: 15px;
  }

  .signup form input[type='text'] {
    width: 30%;
  }

  .signup form input[type='submit'] {
    padding: 5px 45px;
  }

  /* Top Line */
  .topline {
    padding: 25px 4% 40px 4%;
  }

  .topline .item {
    width: 29%;
    min-height: 420px;
  }

  .topline .item .icon-wrapper {
    height: 150px;
  }

  /* The Problem */
  .problem .text ul {
    width: 90%;
  }

  .problem .text ul li img, .problem .text ul li span {
    vertical-align: top;
  }

  /* Second Signup */
  .signup-two .content-area form {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .thirty-six {
    font-size: 22px;
  }

  /* Hero */
  .hero .text {
    width: 90%;
  }

  /* Signup */
  .signup form {
    margin-top: 15px;
  }

  .signup form input[type='text'] {
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .signup form input[type='submit'] {
    padding: 5px 45px;
    display: block;
    margin: 0 auto;
    margin-top: 5px
  }

  /* Top Line */
  .topline {
    padding: 25px 10% 40px 10%;
    flex-direction: column;
    align-items: center;
  }

  .topline .item {
    width: 80%;
    min-height: auto;
    padding: 40px 10px;
  }

  .topline .item .icon-wrapper {
    height: 120px;
  }

  /* The Problem */
  .problem .text ul {
    width: 100%;
  }

  .problem {
    padding: 80px 60px;
  }

  /* Features */
  .features .feature-block:nth-of-type(even) {
    flex-direction: column;
  }
  
  .features .feature-block:nth-of-type(even) .text {
    margin: 15px auto;
  }
  
  .features .feature-block:nth-of-type(odd) {
    flex-direction: column;
  }
  
  .features .feature-block:nth-of-type(odd) .text {
    margin: 15px auto;
  }
  
  .features .feature-block img {
    width: 90%;
    margin: 0 auto;
  }
  
  .features .feature-block .text {
    width: 60%;
  }

  /* Second Signup */
  .signup-two .content-area {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  /* General */
  h1 {
    font-size: 48px;
  }

  .pricing .text h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  .thirty-six {
    font-size: 22px;
  }

  .signup form input[type='submit'], .signup-two .content-area form input[type='submit'] {
    font-size: 20px;
  }

  .pricing .text .pricing-button {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  input {
    font-size: 20px;
  }

  .features .feature-block .text .features-button {
    font-size: 18px;
  }

  p.subheader {
    font-size: 20px;
  }

  p.subheader-two {
    font-size: 18px;
  }

  .nav a, .nav button {
    font-size: 12px;
  }

  /* Signup */
  .signup {
    padding: 60px 40px;
  }

  /* Problem */
  .problem {
    padding: 60px 30px;
  }

  .problem .text ul {
    padding: 0;
    margin-top: 15px;
    width: 90%;
  }

  /* Features */
  .features {
    padding: 40px 5%;
  }

  .vid-wrapper {
    width: 100%;
  }

  .features .feature-block .text {
    width: 80%;
  }

  /* Benefits */
  .benefits .content-area {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .benefits .content-area .benefit-block {
    width: 90%;
    margin-bottom: 30px;
  }

  .benefits .content-area .benefit-block p {
    margin-top: 10px;
  }

  .benefits .content-area .vertical-grey {
    display: none;
  }

  /* Pricing */
  .pricing {
    padding: 40px 30px;
  }

  .pricing .text {
    width: 100%;
  }
}

@media (max-width: 405px) {

}

/* 600px */